<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html>
<head>
    <title th:inline="text">[[${string}]] [[${suffix}]]</title>
</head>
<body>
<h3 th:text="${string} +' '+ ${suffix}"></h3>
<form method="post" accept-charset="UTF-8" th:action="${string.toLowerCase()}">
    <input type="hidden" name="id" th:value="${user.id}">
    Enter User Name <input type="text" name="name" th:value="${user.name}"> <br>
    Enter Password <input type="password" name="password" th:value="${user.password}"> <br>
    <input type="submit" th:value="${string}">
</form>
</body>
</html>